html {
  background-image: url("/sagaverseBG.avif"), linear-gradient(#000000, #010020);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #010020;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "PT Serif Caption", serif;
  color: #dedede;
  font-size: 1em;
  word-spacing: 0.2em;
  line-height: 1.6em;
  padding-bottom: 7.5vw;
}

html::-webkit-scrollbar {
  width: 0px;
}

button {
  cursor: pointer;
}