---
import "../styles/global.css"

const { title, header, subheading, footer } = Astro.props;
---


<html lang="en">
	<head>
		<title>{ title }</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	</head>
	<body>

		<section class="container">
			<a class="icon logo" href="https://degenerousdao.com/" target="_blank" aria-label="dgrs-logo" />
			<p class="header">{ header }</p>
		</section>
		<p class="subheading">{ subheading }</p>


    <slot />


		<p class="footer">{ footer }</p>

		<style>
			.header {
				font-size: 5vw;
				line-height: 5vw;
				text-align: center;
				margin: 3vw auto;
				color: rgba(51, 226, 230, 0.85);
				-webkit-text-stroke: 0.03vw #33E2E6;
				filter: drop-shadow(0 0 1vw rgba(51, 226, 230, 0.5));
			}

			.subheading, .footer {
				font-size: 2vw;
				line-height: 3vw;
				text-align: center;
				color: rgba(51, 226, 230, 0.85);
				padding: 0 5vw 3vw 5vw;
				text-shadow: 0 0 1vw #010020;
				filter: drop-shadow(0 0 1vw #010020)
			}

			.footer {
				padding-top: 3vw;
			}

			a {
				position: absolute;
				top: 2vw;
				left: 2vw;
				height: 7vw;
				width: 7vw;
				cursor: pointer;
				z-index: 1;
				background-size: contain;
			}

			.logo {
				background-image: url('/logo.avif');
				opacity: 0.7;
			}

			.logo:hover, .logo:active {
				opacity: 0.9;
			}


			@media only screen and (max-width: 600px) {
				html {
					padding-top: 25%;
				}

				.container {
					position: fixed;
					top: 0;
					width: 100vw;
					background-color: rgba(1, 0, 32, 0.75);
					filter: drop-shadow(0 1vw 1vw rgba(1, 0, 32, 0.75));
					-webkit-backdrop-filter: blur(2vw);
					backdrop-filter: blur(2vw);
					z-index: 2;
				}

				.header {
					font-size: 1.5em;
					line-height: 3em;
					margin: 0.25em auto;
				}

				.subheading, .footer {
					font-size: inherit;
					line-height: 1.6em;
					padding: 1em;
					margin: 0 1em 1em 1em;
					text-align: center;
					background-color: rgba(22, 30, 95, 0.5);
					-webkit-backdrop-filter: blur(2vw);
					backdrop-filter: blur(2vw);
					border: 0.1vw solid rgba(51, 226, 230, 0.5);
    			border-radius: 2.5vw;
				}

				.footer {
					margin-top: 1em;
				}

				a {
					width: 3em;
					height: 3em;
					top: 1em;
					left: 0.5em;
				}
			}
		</style>
  </body>
</html>